body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font: normal normal bold 42px/50px Lato;
  letter-spacing: 0px;
}

.welcome {
  font: normal normal bold 30px/36px Lato;
}
.card-para {
  font: normal normal medium 18px/27px Lato;
}
.badge-text {
  font: normal normal normal 18px/22px Lato;
  width: 300px;
  color: #ffffff;
}
.p1 {
  font: normal normal normal 21px/30px Lato;
  letter-spacing: 0px;
}

.top-bagde {
  font: normal normal normal 14px/17px Lato;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  padding: 6px 20px;
}
.nav-link.fa {
  padding: 10px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.nav-link.fa-phone {
  background: green;
  color: white;
}

.fa-instagram {
  background: transparent linear-gradient(42deg, #F4B831 0%, #EF5073 55%, #874B9E 100%) 0% 0% no-repeat padding-box;  color: white;
}
.call {
  font: normal normal normal 18px/22px Lato;
  color: #ffffff;
}

.profile-text {
  font: normal normal bold 12px/15px Lato;
}
.profile-phone {
  font: normal normal bold 28px/34px Lato;
}
.para1 {
  font: normal normal bold 18px/27px Lato;
}

.para2 {
  font: normal normal bold 16px/27px Lato;
}

.para3,
.para4 {
  font: normal normal normal 16px/27px Lato;
}
.circle-text {
  font: normal normal normal 22px/27px Lato;
  color: #ffffff;
}
.circle-text1 {
  font: normal normal normal 16px/19px Lato;
}
.circle-text2 {
  font: normal normal bold 14px/17px Lato;
}
.img-badge {
  bottom: 40px;
  left: 10px;
  padding: 5px 20px;
  border-radius: 0px 15px 15px 0px;
  font: normal normal 18px/22px Lato;
  background: #138bef;
}
.uk-premier-para,
.uk-premier p {
  font: normal normal normal 14px/21px Lato;
}
.uk-premier h6 {
  font: normal normal bold 16px/20px Lato;
}
.about-us {
  font: normal normal bold 18px/22px Lato;
  width: 178px;
}
.rug-block {
  font: normal normal bold 21px/25px Lato;
}

.panel-para {
  font: normal normal normal 13px/17px Lato;
}

.bg-nav {
  background: #0E6BAD;
  font: normal normal normal 16px/19px Lato;
}
.nav li a {
  color: white;
}

.card.h-100 {
  border-radius: 0;
  transition: box-shadow 0.5s;
}

.card.h-100:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 10px 20px;
}

.card-body {
  font: normal normal normal 14px/17px Lato;
  letter-spacing: 0.14px;
}

.text-muted {
  color: #cfd1cf;
}

.card-footer {
  background-color: #fff !important;
}

.list1 li::before {
  content: "•";
  color: blue;
  padding: 6px;
  font-size: 20px;
}

.list2 li::before {
  content: "•";
  color: green;
  padding: 6px;
  font-size: 20px;
}

#green-circle {
  height: 550px;
  width: 550px;
  border-radius: 50%;
}

.card-carousel {
  background: #107ac7;
  padding: 40px 30px 60px;
}

.card-text {
  font: normal normal normal 16px/30px Lato;
}

.card-title {
  color: #0e6bad;
  font: normal normal bold 16px/20px Lato;
}

.card-title1 {
  font: normal normal medium 14px/21px Lato;
}
.card-footer-name p {
  font: normal normal normal 12px/27px Lato;
}
.name {
  font: normal normal bold 14px/27px Lato;
}
.badges {
  margin-bottom: -50px;
  position: relative;
  top: -26px;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.colr {
  background: #048630;
}
.footer-heading {
  font: normal normal bold 24px/29px Lato;
  padding-bottom: 20px;
}
.footer-text {
  font: normal normal normal 14px/17px Lato;
  color: #f4f4f4;
}
.footer-text p {
  padding-bottom: 10px;
}
.footer-bottom {
  font: normal normal bold 12px/15px Lato;
  letter-spacing: 0.36px;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar-dark .navbar-toggler{
  color: white;
}

@media screen and (min-width: 600px) {
 
  .top-card{
    width: 50%;
    padding: 20px;
  }

}

@media screen and (max-width: 600px) {

  #green-circle {
    border-radius:0;
  }
 
  #toggle-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .badge.img-badge {
    font: normal normal 12px/20px Lato;
    background: #138bef;
  }

}
