body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/* .header-brand {
  margin-right: 30px;
} */

h1 {
  font: normal normal bold 42px/50px Lato;
}

.p1 {
  font: normal normal normal 21px/30px Lato;
  letter-spacing: 0px;
}

.top-bagde {
  font: normal normal normal 14px/17px Lato;
  padding: 7px 18px 8px 12px;
}

.profile-text {
  font: normal normal bold 12px/15px Lato;
}
.profile-phone {
  font: normal normal bold 28px/34px Lato;
}
.nav-link.fa {
  font-size: 16px;
  padding: 8px 7px 11px 8px;
  height: 32px;
  width: 32px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.nav-link.fa-phone {
  background: green;
  color: white;
}

.fa-instagram {
  background: transparent
    linear-gradient(42deg, #f4b831 0%, #ef5073 55%, #874b9e 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}

.bg-light {
  color: #f4f4f4;
}

.colr {
  background: #048630;
}
.bg-color {
  background: #f4f4f4;
}

.top-images img {
  width: 368px;
  height: 240px;
  margin: 32px 0;
}
.bg-nav {
  background: #0e6bad;
  font: normal normal normal 16px/19px Lato;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.uk-leading h1 {
  color: #0e6bad;
}
.uk-leading p {
  font: normal normal normal 21px/30px Lato;
  color: #0e6bad;
}
.img-badge {
  border-radius: 0px 18px 18px 0px;
  font: normal normal 18px/22px Lato;
  background: #0e6bad;
}

.card-badge{
  left:9%;
  top:70%;
}


.welcome-rug-laundry {
  width: 550px;
}

.welcome-rug-laundry h1 {
  padding: 96px 0 36px 0;
}

.welcome-rug-laundry .para1 {
  padding-bottom: 28px;
}

.welcome-rug-laundry .para2 {
  padding-bottom: 16px;
}

.welcome-rug-laundry .para3,
.para4 {
  padding-bottom: 24px;
}

.welcome {
  font: normal normal bold 30px/36px Lato;
}

.para1 {
  font: normal normal bold 18px/27px Lato;
}
.para2 {
  font: normal normal bold 16px/27px Lato;
}

.para3,
.para4 {
  font: normal normal normal 16px/27px Lato;
}

.circle-p1 {
  font: normal normal bold 22px/27px Lato;
}
.circle-p2 {
  font: normal normal normal 16px/19px Lato;
}
.circle-p3 {
  font: normal normal bold 16px/19px Lato;
}
.circle-text2 {
  font: normal normal bold 14px/17px Lato;
}
.circle-text3 {
  font: normal normal normal 14px/17px Lato;
}
.card-text {
  font: normal normal normal 16px/30px Lato;
}
.name {
  font: normal normal bold 14px/27px Lato;
}

.card-footer-name p {
  font: normal normal normal 12px/27px Lato;
}

.card-carousel {
  background: #107ac7;
}

.card-title {
  color: #0e6bad;
  font: normal normal bold 16px/20px Lato;
  padding: 24px 0 14px 0;
}

.card-para {
  font: normal normal normal 14px/21px Lato;
  color: #333333;
}
.view-pkg {
  width: 130px;
  margin-top: 26px;
  font: normal normal bold 12px/15px Lato;
  background: #0e6bad;
}
#green-circle {
  height: 560px;
  width: 560px;
  border-radius: 50%;
}
.green-circle-div {
  margin-left: 50px;
}
#toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-card {
  /* padding: 20px; */
  margin: 30px;
  height: 248px;
  width: 264px;
}

.badges {
  margin-bottom: -70px;
}

.call {
  font: normal normal normal 18px/22px Lato;
  padding: 7px 18px 8px 12px;
}

.svg-images {
  height: 54px;
  width: 54px;
  margin: 20px;
}
.our-promise h6 {
  font: normal normal bold 20px/20px Lato;
  padding: 0 0 30px 0;
}
.our-promise p {
  font: normal normal medium 14px/21px Lato;
}

.latest-news-heading {
  font: normal normal bold 24px/29px Lato;
  padding: 72px 0 33px;
}
.main {
  height: 132px;
  margin-top: 20px;
  padding: 0 30px;
}

.main img {
  height: 132px;
  width: 176px;
}

.like-facebook {
  padding: 70px;
}

.latest-news {
  margin-left: 23px;
}

.latest-news h6 {
  font: normal normal bold 21px/25px Lato;
  color: #333333;
}
.latest-news p {
  font: normal normal bold 12px/15px Lato;
}
.bottom-badges {
  margin-right: 62px;
}
.footer-heading {
  font: normal normal bold 24px/29px Lato;
  padding: 80px 0 20px 0;
}
.footer-text {
  font: normal normal normal 14px/17px Lato;
  color: #f4f4f4;
}
.footer-text p {
  padding-bottom: 10px;
}
.footer-bottom {
  font: normal normal bold 12px/15px Lato;
  letter-spacing: 0.36px;
  color: #ffffff;
  text-transform: uppercase;
}
#owl-demo .item {
  padding: 30px 0px;
  margin: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}


@media screen and (max-width: 600px) {
  /* .top-images img {
    width: 90%;
    margin: 32px 0;
  } */
  .call {
    font: normal normal normal 14px/22px Lato;
    padding: 7px 18px 8px 12px;
  }

  #green-circle {
    border-radius: 0;
  }
  .green-circle-div {
    margin-left: 0;
  }
  #toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .small-card {
    min-width: 100%;
    margin: 5px;
  }
  .view-pkg {
    margin-top: 0;
  }
  .latest-news-heading {
    font: normal normal bold 24px/29px Lato;
    padding: 0;
  }
  .latest-news {
    margin-left: 0;
  }
  .main {
    padding: 0;
  }
  .latest-news h6 {
    font: normal normal bold 16px/25px Lato;
    color: #333333;
  }
  .like-facebook {
    padding: 20px;
  }
  .bottom-badges {
    margin-right: 20px;
  }
  .welcome-rug-laundry {
    width: auto;
  }
  .card-badge{
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
  }
  .img-badge {
    font: normal normal 14px/22px Lato;
  }
}
